<!doctype html>
<html class="no-js" lang="" ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="static/semantic.min.css">
 </head>

<body>
Bla
    <div id="app" class="full-height"></div>
    <script src="static/jquery.min.js"></script>
    <script src="static/semantic.min.js"></script>
    <script src="static/build.js"></script>
</body>
</html>
